[submodule "easy_math/lib/forge-std"]
	path = easy_math/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "owner/lib/forge-std"]
	path = owner/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "cheat-code/lib/forge-std"]
	path = cheat-code/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "erc-20/lib/forge-std"]
	path = erc-20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "manuel-erc-20/lib/openzeppelin-contracts"]
	path = manuel-erc-20/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "nft/lib/forge-std"]
	path = nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft/lib/openzeppelin-contracts"]
	path = nft/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
